.about-program-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  min-height: 770px;
  margin-left: calc(-50vw + 50%);
  padding: 0;

  background: url("../img/background-desktop-about_program-watercolor.png") 100% 159px no-repeat,
              url("../img/background-desktop-about_program.jpg") 50% 67% no-repeat;
  background-size: contain, auto;

  &--webp-on {
    background: url("../img/background-desktop-about_program-watercolor.webp") 3px 159px no-repeat,
                url("../img/background-desktop-about_program.webp") 50% 67% no-repeat;
  }
}

.about-program-section__heading {
  @include main-heading;
  letter-spacing: 0.05em;
}

.about-program-section__description {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;

  text-align: center;
  font-size: $big-font-size;
  line-height: $big-line-height;
}

.about-program-section__link {
  position: relative;

  display: block;
  width: 64px;
  height: 64px;
  margin-top: 246px;
  margin-bottom: 0;

  border-radius: 50%;
  background: #ffffff;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    content: "";
    width: 96px;
    height: 96px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.32;

    transform: translate(-50%, -50%);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;

    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid $blue-color;
    border-bottom: 10px solid transparent;
    z-index: 1;

    transform: translate(-35%, -50%);
  }

  &:hover,
  &:focus {
    background-color: rgba(244, 244, 244, 0.9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(244, 244, 244, 0.32);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .about-program-section {
    min-height: 500px;
    padding: 0 16px;

    background: url("../img/background-desktop-about_program-watercolor.png") 100% 215px no-repeat,
                url("../img/background-mobile-about_program.png") 50% 100% no-repeat;
    background-size: contain, auto;

    &--webp-on {
      background: url("../img/background-desktop-about_program-watercolor.webp") 3px 159px no-repeat,
                  url("../img/background-mobile-about_program.webp") 50% 67% no-repeat;
    }
  }

  .about-program-section__link {
    position: relative;

    display: block;
    width: 54px;
    height: 54px;
    margin-top: 136px;
    margin-bottom: 75px;

    &::after {
      width: 80px;
      height: 80px;
    }

    &::before {
      border-top: 8px solid transparent;
      border-left: 16px solid $blue-color;
      border-bottom: 8px solid transparent;
    }
  }

  .about-program-section__heading {
    font-size: $h2-mini-size;
  }

  .about-program-section__description {
    min-height: 189px;
    font-size: 16px;
    text-align: left;
  }
}
