.contact-section {
  background: none;
}

.contact-section > .container {
  position: relative;

  min-height: 653px;
  padding: 0;

  background-image: url("../img/background-desktop-contact.png");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;

  &--webp-on {
    background-image: url("../img/background-desktop-contact.webp");
  }
}

.contact-section__heading {
  @include main-heading;
  margin-left: 15.5%;
  padding-top: 240px;
  letter-spacing: 0.02em;
}

.contact-section__description {
  width: 33%;
  margin: 0;
  margin-left: 15.5%;
  margin-top: 22px;
  margin-bottom: 63px;

  font-size: $big-font-size;
  line-height: $big-line-height;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-section__form {
  position: relative;
  margin-left: 15.5%;

  display: flex;
}

.contact-section__fieldset {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  border: none;
}

.contact-section__input {
  width: 420px;
}

.contact-section__input-error {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 5px;

  text-align: center;
  color: red;
  font-size: 11px;
  line-height: 12px;

  transition: 0.5s ease all;
  opacity: 0;
}

.contact-section__button {
  position: absolute;
  left: 260px;

  width: 216px;
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .contact-section {
    margin-left: auto;
  }

  .contact-section__heading {
    margin-left: 5.5%;
    padding-top: 150px;
  }

  .contact-section__description {
    margin-left: 5.5%;
    background: none;
  }

  .contact-section__form {
    margin-left: 5.5%;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .contact-section {
    padding: 0 16px;

    background-image: url("../img/background-mobile-contact.png");
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .contact-section > .container {
    min-height: 598px;
    background: none;
  }

  .contact-section__heading {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    text-align: center;
    font-size: $h2-mini-size;
  }

  .contact-section__description {
    width: auto;
    margin: 0;
    margin-bottom: 22px;

    font-size: 16px;
  }

  .contact-section__form {
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
  }

  .contact-section__fieldset {
    width: 100%;
  }

  .contact-section__input {
    width: 100%;
    margin: 0;
    margin-bottom: 8px;
  }

  .contact-section__input-error {
    max-width: 288px;
    margin: 0 auto;
  }

  .contact-section__button {
    position: relative;
    left: 0;

    width: 264px;
  }
}
