.contact-section {
  max-width: 1226px;
  min-height: 594px;
  padding-left: 70px;
  margin-left: auto;

  background-image: url("../img/background-desktop-contact.png");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}

.contact-section__heading {
  @include main-heading;
  padding-top: 210px;
}

.contact-section__description {
  width: 35%;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 60px;

  font-size: $big-font-size;
  line-height: $big-line-height;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-section__form {
  display: flex;
}

.contact-section__fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.contact-section__input {
  width: 420px;
  height: 60px;
  margin: 0;
  padding: 0;
  padding-left: 40px;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: $big-font-size;
  text-transform: none;
  font-weight: 500;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease all;

  &:hover,
  &:focus {
    border-color: $gradient-yellow-color;
  }

  &::-webkit-input-placeholder {
    color: #999999;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

.contact-section__button {
  position: absolute;
  left: 340px;

  width: 216px;
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .contact-section {
    padding-left: 70px;
    margin-left: auto;

    background-image: url("../img/background-desktop-contact.png");
    background-position: right;
    background-size: 70% 70%;
    background-repeat: no-repeat;
  }

  .contact-section__heading {
    padding-top: 150px;
  }

  .contact-section__description {
    background: none;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .contact-section {
    padding: 0 16px;

    background: none;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;

      display: block;
      height: 308px;
      width: 424px;

      background-image: url("../img/background-mobile-contact.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  .contact-section__heading {
    padding: 0;
    margin-bottom: 20px;

    text-align: center;
    font-size: $h2-mini-size;
  }

  .contact-section__description {
    width: auto;
    margin: 0;
    margin-bottom: 24px;

    font-size: 16px;
  }

  .contact-section__form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-section__fieldset {
    width: 100%;
    text-align: center;
  }

  .contact-section__input {
    width: 287px;
    margin: 0;
    margin-bottom: 8px;
  }

  .contact-section__button {
    position: inherit;
  }
}
