.details-section {
  position: relative;

  min-height: 697px;
  padding-left: 110px;

  background-image: url("../img/background-desktop-details-watercolor.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.details-section > .container {
  position: relative;

  padding: 0;
}

.details-section__city-container {
  width: 100%;
}

.details-section__heading {
  @include main-heading;
  margin-bottom: 45px;
}

.details-section__label {
  position: relative;

  margin-right: 13px;
  padding-left: 22px;

  opacity: 0.74;

  &--city {
    &::before {
      content: "";

      position: absolute;
      left: 4px;
      top: 50%;

      display: block;
      width: 12px;
      height: 18px;
      background-image: url("../img/marker.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      transform: translateY(-50%);
    }

    &::after {
      content: "";

      position: absolute;
      left: 115%;
      bottom: -5px;

      display: block;
      height: 0;
      width: 100%;

      border-bottom: 1px dashed $blue-color;
    }
  }
}

.details-section__select {
  width: 120px;

  font-family: "Fira Sans", "Arial", sans-serif;
  line-height: $regular-line-height;
  text-transform: uppercase;

  background-image: url("../img/gps.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;

  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.details-section__curator-card {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-top: 40px;
}

.details-section__curator-image {
  max-height: 112px;
}

.details-section__curator-personal-data {
  margin-left: 24px;
}

.details-section__curator-info {
  display: flex;
  margin-bottom: 12px;
}

.details-section__curator {
  margin: 0;
  margin-right: 8px;
  padding: 0;

  color: $blue-color;
}

.details-section__curator-name {
  margin: 0;
  padding: 0;
}

.details-section__curator-adress {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-size: $small-font-size;
  max-width: 240px;
}

.details-section__social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.details-section__social-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.details-section__social-link {
  &:hover > .details-section___svg,
  &:focus > .details-section___svg {
    fill: rgba(31, 192, 252, 0.3);
  }

  &:active > .details-section___svg {
    fill: rgba(31, 192, 252, 1);
  }
}

.details-section___svg {
  fill: rgba(72, 72, 72, 0.2);

  transition: 0.25s;
}

.details-section__description {
  max-width: 480px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 136px;
  padding: 0;

  font-size: $big-font-size;
  line-height: $big-line-height;
  opacity: 0.87;
}

.details-section__map {
  position: absolute;
  top: 11%;
  right: 0;

  width: 52%;

  transform: translateY(-15%);

  &--off {
    display: none;
  }
}

.details-section__map-image img {
  width: 100%;
  height: 448px;
}

.details-section__iframe-container {
  position: absolute;
  top: 15%;
  right: 0;

  display: none;
  width: 48%;
  height: 448px;

  transform: translateY(-15%);

  &--on {
    display: block;
  }
}

.details-section__feedback-article {
  display: flex;
}

.details-section__feedback-form {
  position: relative;
  top: -10px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.details-section__feedback-container {
  max-width: 364px;
  margin-right: 13px;
  line-height: $regular-line-height;
}

.details-section__feedback-attraction {
  display: block;
  max-width: 330px;

  font-size: $big-font-size;
  font-weight: 500;
  font-style: normal;
}

.details-section__feedback-description {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  font-size: 13px;
  opacity: 0.5;
}

.details-section__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.details-section__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.details-section__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 25px;
}

.details-section__input {
  width: 250px;
}

.details-section__input-error {
  max-width: 240px;
  margin-top: 5px;

  text-align: center;
  color: red;
  font-size: 11px;
  line-height: 12px;

  transition: 0.5s ease all;
  opacity: 0;
}

.details-section__button {
  width: 216px;
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .details-section {
    padding: 0;
  }

  .details-section__heading {
    margin-bottom: 24px;

    text-align: center;
    font-size: $h2-mini-size;
  }

  .details-section__city-container {
    padding: 0 16px;
  }

  .details-section__curator-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    padding: 0 16px;
  }

  .details-section__curator-image {
    max-height: 112px;
    margin-bottom: 16px;
    margin-right: 20px;
  }

  .details-section__curator-personal-data {
    margin: 0;
  }

  .details-section__curator-info {
    display: flex;
  }

  .details-section__curator {
    margin: 0;
    margin-right: 8px;
    padding: 0;
  }

  .details-section__curator-name {
    margin: 0;
    padding: 0;
  }

  .details-section__curator-adress {
    max-width: 285px;
    margin-bottom: 14px;

    line-height: 150%;
  }

  .details-section__description {
    margin: 0;
    margin-bottom: 38px;

    font-size: 16px;
    line-height: 165%;
  }

  .details-section__social {
    margin-bottom: 26px;
  }

  .details-section__map {
    position: inherit;

    margin-top: 60px;
    width: 100%;
    height: 420px;

    text-align: center;
  }

  .details-section__map-image {
    width: 320px;
  }

  .details-section__iframe-container {
    position: inherit;

    margin-top: 60px;
    width: 100%;
    height: 420px;
  }

  .details-section__feedback-article {
    display: flex;
    flex-wrap: wrap;
  }

  .details-section__feedback-container {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
  }

  .details-section__feedback-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 16px;
  }

  .details-section__feedback-attraction {
    padding-top: 23px;

    font-size: 16px;
    line-height: 150%;
  }

  .details-section__feedback-description {
    width: 100%;
    margin-bottom: 46px;

    line-height: 150%;
  }

  .details-section__map-image img {
    width: 100%;
    height: 420px;
  }

  .details-section__fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  .details-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .details-section__item {
    position: relative;
    min-width: 288px;
    width: 50%;
    margin: 0;
  }

  .details-section__input {
    min-width: 288px;
    width: 90%;
    margin: 0;
  }

  .details-section__input-error {
    margin: 0;
  }

  .details-section__button {
    width: 264px;
  }
}
