.exposition-section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin-left: auto;
  margin-right: 10%;
}

.exposition-section__heading {
  @include main-heading;
  margin-bottom: 24px;
}

.exposition-section__description {
  width: 390px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;

  font-size: $big-font-size;
  line-height: $big-line-height;
  color: #ffffff;
}

.exposition-section__button {
  @include button;
  width: 230px;
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .exposition-section {
    padding: 0 16px;
  }

  .exposition-section__container {
    width: auto;
    margin: 0;
    padding: 0;

    align-items: center;
  }

  .exposition-section__heading {
    margin-bottom: 96px;

    font-size: 40px;
  }

  .exposition-section__description {
    width: 90%;
    min-height: 135px;
    margin-bottom: 60px;

    font-size: 16px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  }

  .exposition-section__button {
    @include button;
    width: 264px;
    margin: 0 auto;
  }
}
