.exposition-section {
  width: 100vw;
  min-height: 585px;
  margin-left: calc(-50vw + 50%);

  background-image: url("../img/background-desktop-exposition.png");
  background-size: cover;
  background-repeat: no-repeat;

  &--webp-on {
    background-image: url("../img/background-desktop-exposition.webp");
  }
}

.exposition-section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin-left: auto;
  margin-right: 12.6%;
}

.exposition-section__heading {
  @include main-heading;
  margin-bottom: 24px;
  padding-top: 121px;

  letter-spacing: 0;
}

.exposition-section__description {
  width: 390px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-left: 5px;

  font-size: $big-font-size;
  line-height: 170%;
  color: #ffffff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.exposition-section__button {
  position: relative;

  @include button;
  width: 230px;

  &::after {
    content: "";

    position: absolute;
    left: 41px;
    top: 50%;

    width: 24px;
    height: 24px;

    background-image: url("../img/instagram.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    transform: translateY(-50%);
  }
}

.exposition-section__button > span {
  padding-left: 40px;

  font-size: $big-font-size;
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .exposition-section {
    padding: 0 16px;
  }

  .exposition-section__container {
    width: auto;
    margin: 0;
    padding: 0;

    align-items: center;
  }

  .exposition-section__heading {
    margin-bottom: 90px;

    font-size: 40px;
  }

  .exposition-section__description {
    width: 90%;
    min-height: 135px;
    margin-bottom: 57px;

    font-size: 16px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  .exposition-section__button {
    @include button;
    width: 264px;
    margin: 0 auto;
  }
}
