.gallery-section__heading {
  @include main-heading;
  margin-bottom: 10px;

  text-align: center;
}

.gallery-section__description {
  max-width: 720px;
  margin: 0 auto;

  text-align: center;
  font-size: $big-font-size;
}

.gallery-section__item-description {
  position: absolute;
  bottom: 32px;
  left: 40px;

  width: 120px;
  margin: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 800;
  color: #ffffff;

  &--big {
    width: 320px;
  }
}


/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .gallery-section {
    padding: 0 16px;
  }

  .gallery-section__heading {
    margin-bottom: 24px;

    font-size: $h2-mini-size;
    letter-spacing: 0.02em;
  }

  .gallery-section__description {
    margin: 0 auto;

    text-align: left;
    font-size: 16px;
  }

  .gallery-section__list {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin: 0;
    padding: 0;

    list-style: none;
    overflow-x: hidden;
  }

  .gallery-section__item {
    position: relative;

    flex-shrink: 0;
    width: 100%;

    text-align: center;
    transition: transform 0.6s ease;
  }

  .gallery-section__item-description {
    position: absolute;
    bottom: 30px;
    left: 50%;

    width: 256px;

    text-align: center;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    transform: translateX(-50%);
  }
}
