.gallery-section {
  position: relative;

  background: url("../img/background-desktop-gallery-watercolor.png") 50% 62%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-section > .container {
  padding: 0;
}

.gallery-section__heading {
  @include main-heading;
  margin-bottom: 22px;
  letter-spacing: 0.03em;

  text-align: center;
}

.gallery-section__description {
  max-width: 735px;
  margin: 0 auto;
  margin-bottom: 45px;

  text-align: center;
  font-size: $big-font-size;
  line-height: $big-line-height;
}

.gallery-section__list {
  position: relative;
  width: 51%;
  max-width: 760px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  margin-left: auto;
  margin-right: 8%;
  padding: 0;

  list-style: none;
}

.gallery-section__item {
  position: relative;
  margin-bottom: 25px;

  height: 318px;

  &--history {
    position: absolute;

    top: -62px;
    left: -65%;

    height: auto;
    width: 69%;
  }

  &--language,
  &--lidership {
    width: 31%;
    max-width: 211px;
    height: auto;
  }

  &--education,
  &--creation {
    width: 60%;
    max-width: 411px;
    height: auto;
  }

  &:nth-child(2n + 2) {
    margin-right: 4.5%;
  }
}

.gallery-section__image {
  width: 100%;
  height: 100%;
}

.gallery-section__item-description {
  position: absolute;
  bottom: 37px;
  left: 10%;

  width: 120px;
  margin: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

  &--big {
    left: 8%;
    bottom: 43px;

    width: 90%;
    max-width: 360px;
  }
}

.gallery-section__controls-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

.gallery-section__slider-points {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-section__slider-point {
  display: block;
  margin: 0 3px;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: rgba(72, 72, 72, 0.2);
  cursor: pointer;

  &--active {
    width: 8px;
    height: 8px;

    background-color: $yellow-color;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .gallery-section {
    padding: 0 16px;

    background: none;
  }

  .gallery-section__heading {
    margin-bottom: 24px;

    font-size: $h2-mini-size;
    letter-spacing: 0.02em;
  }

  .gallery-section__description {
    margin: 0 auto;
    margin-bottom: 10px;

    text-align: left;
    font-size: 16px;
    line-height: 160%;
  }

  .gallery-section__list {
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0;

    list-style: none;
    overflow-x: scroll;
  }

  .gallery-section__item {
    position: relative;

    flex-shrink: 0;
    width: 100%;
    min-width: 300px;
    height: 425px;
    margin: 0 35px;

    text-align: center;
    transition: transform 0.6s ease;

    &--history {
      display: block;
    }

    &:nth-child(2n + 2) {
      margin: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .gallery-section__image {
    width: 100%;
    height: auto;
  }

  .gallery-section__item-description {
    position: absolute;
    bottom: 30px;
    left: 50%;

    width: 256px;

    text-align: center;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    transform: translateX(-50%);
  }

  .gallery-section__controls-container {
    &--on {
      display: flex;
    }
  }
}
