.page-main__container {
  padding: 0;
}

.page-main__headline-section {
  position: relative;

  width: 100vw;
  margin-left: calc(-50vw + 50%);

  background-image: url("../img/background-desktop-headline.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";

    position: absolute;
    top: -85px;

    display: none;
    height: 906px;
    width: 1367px;





    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-headline.webp");
    }
  }
}

.page-main__about-program-section {
  position: relative;

  margin-bottom: 213px;

  &::after {
    content: "";

    position: absolute;
    top: 125px;
    left: 50%;
    right: 0;

    display: none;
    width: 1366px;
    height: 604px;

    background-image: url("../img/background-desktop-about_program-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%);
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-about_program-watercolor.webp");
    }
  }
}

.page-main__programs-section {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: -50px;
    right: -100px;

    display: none;
    height: 426px;
    width: 680px;

    background-image: url("../img/background-desktop-programs-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-programs-watercolor.webp");
    }
  }
}

.page-main__contact-section {
  position: relative;

  margin: 0;
  margin-bottom: 163px;

  &::before {
    content: "";

    position: absolute;
    top: 200px;
    left: -12vw;

    display: none;
    height: 262px;
    width: 147px;

    background-image: url("../img/background-desktop-contact-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-contact-watercolor.webp");
    }
  }
}

.page-main__conditions-section {
  position: relative;
  margin-bottom: 171px;

  &::after {
    content: "";

    position: absolute;
    top: -200px;
    left: -20px;

    display: none;
    height: 1208px;
    width: 1487px;

    background-image: url("../img/background-desktop-conditions-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-conditions-watercolor.webp");
    }
  }
}

.page-main__gallery-section {
  position: relative;

  margin-bottom: 270px;

  &::after {
    content: "";

    position: absolute;
    top: -30px;
    left: 50%;

    display: none;
    height: 950px;
    width: 100vw;

    background-image: url("../img/background-desktop-gallery-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-gallery-watercolor.webp");
    }
  }
}

.page-main__exposition-section {
  position: relative;

  margin-bottom: 332px;

  &::after {
    content: "";

    position: absolute;
    top: -130px;
    left: 50%;

    display: none;
    height: 583px;
    width: 100vw;

    background-image: url("../img/background-desktop-exposition.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-exposition.webp");
    }
  }
}

.page-main__questions-section {
  position: relative;

  margin-bottom: 152px;

  &::before {
    content: "";

    position: absolute;
    top: 600px;
    left: 20px;

    display: none;
    height: 177px;
    width: 194px;

    background-image: url("../img/background-desktop-bag-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  &::after {
    content: "";

    position: absolute;
    top: -110px;
    left: 50%;

    display: none;
    height: 1119px;
    width: 100vw;

    background-image: url("../img/background-desktop-questions-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  &--webp-on {
    &::before {
      background-image: url("../img/background-desktop-bag-watercolor.webp");
    }

    &::after {
      background-image: url("../img/background-desktop-questions-watercolor.webp");
    }
  }
}

.page-main__reviews-section {
  position: relative;

  margin-bottom: 86px;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    display: none;
    height: 100vh;
    width: 100vw;

    background-image: url("../img/background-desktop-reviews-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-reviews-watercolor.webp");
    }
  }
}

.page-main__details-section {
  position: relative;

  margin-bottom: 72px;

  &::after {
    content: "";

    position: absolute;
    top: -110px;
    left: 50%;

    display: none;
    height: 94vh;
    width: 100vw;

    background-image: url("../img/background-desktop-details-watercolor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  &--webp-on {
    &::after {
      background-image: url("../img/background-desktop-details-watercolor.webp");
    }
  }
}

@media (min-width: $big-desktop-width) {
  .page-main {
    &::after {
      top: 0;

      height: 826px;
    }
  }

  .page-main__about-program-section {
    margin-top: 20px;
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .page-main__headline-section {
    margin-bottom: 59px;

    &::after {
      top: -27px;

      display: none;
      height: 587px;
      width: 100vw;

      background-image: url("../img/background-mobile-headline.png");
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }

    &--webp-on {
      &::after {
        background-image: url("../img/background-mobile-headline.webp");
      }
    }
  }

  .page-main__conditions-section {
    margin-bottom: 120px;

    &::after {
      display: none;
    }
  }

  .page-main__contact-section {
    margin-bottom: 0;
  }

  .page-main__gallery-section {
    margin-bottom: 120px;

    &::after {
      display: none;
    }
  }

  .page-main__exposition-section {
    margin-bottom: 120px;
  }

  .page-main__questions-section {
    margin-bottom: 80px;

    &::after {
      display: none;
    }
  }

  .page-main__details-section {
    margin-bottom: 64px;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .page-main__about-program-section {
    margin-bottom: 88px;

    &::after {
      top: 185px;
      left: 50%;

      width: 100vw;
      height: 186px;
    }
  }

  .page-main__programs-section {
    margin: 0;
    margin-bottom: 80px;

    &::after {
      top: 110px;
      right: -10px;

      display: none;
      height: 201px;
      width: 320px;
    }
  }

  .page-main__contact-section {
    position: relative;

    margin: 0;
    margin-bottom: 80px;

    &::before {
      display: none;
      top: -40px;
      left: -50px;

      height: 162px;
      width: 120px;
    }
  }

  .page-main__conditions-section {
    margin-bottom: 73px;
  }

  .page-main__exposition-section {
    margin-bottom: 80px;

    &::after {
      top: 50px;
      left: 50%;

      height: 272px;
      min-width: 632px;
      width: 100vw;
    }
  }

  .page-main__reviews-section {
    position: relative;

    margin-bottom: 110px;

    &::after {
      top: 50%;
      left: 50%;

      height: 419px;
      width: 100vw;

      background-image: url("../img/background-mobile-reviews-watercolor.png");
    }

    &--webp-on {
      &::after {
        background-image: url("../img/background-mobile-reviews-watercolor.webp");
      }
    }
  }
}
