
/* ----------------- Разметкdа под desktop ----------------- */

.page-header__container {
  position: relative;
  padding-top: 32px;
}

.page-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.page-header__link {
  color: $black-color;
  font-weight: 500;

  &--order {
    text-transform: uppercase;
    border-bottom: 1px dashed $black-color;
  }

  &:hover,
  &:focus {
    color: $yellow-color;
    border-color: $yellow-color;
    transition: 0.1s;
  }

  &:active {
    color: $yellow-color;
    opacity: 0.7;
  }
}

.page-header__logo-image {
  width: 137px;
  height: 48px;
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $desktop-width) {
  .page-header__container {
    padding: 0 50px;
    padding-top: 20px;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .page-header__container {
    margin-top: 20px;
    padding: 0 12px;
    padding-top: 20px;
  }

  .page-header__list {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 48px;
  }

  .page-header__item {
    &--logo {
      order: -1;
    }
  }

  .page-header__link {
    font-size: 14px;
  }

  .page-header__logo-image {
    width: 120px;
    height: 42px;
  }
}
