.page-main {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: -80px;
    left: 0;
    right: 0;

    display: block;
    height: 906px;

    background-color: rgba(227, 227, 227, 0.5);
    background-image: url(../img/background-desktop-headline.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-main__container {
  padding: 0 210px;
}

.page-main__about-program-section {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 125px;
    left: -115px;
    right: 0;

    display: block;
    height: 604px;
    width: 1366px;

    background-image: url(../img/background-desktop-about_program-watercolor.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-main__programs-section {
  position: relative;

  margin-top: 200px;
  margin-bottom: 240px;

  &::after {
    content: "";

    position: absolute;
    top: -50px;
    right: -100px;

    display: block;
    height: 426px;
    width: 680px;

    background-image: url(../img/background-desktop-programs-watercolor.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-main__contact-section {
  position: relative;

  margin-bottom: 240px;

  &::before {
    content: "";

    position: absolute;
    top: -100px;
    left: -220px;

    display: block;
    height: 262px;
    width: 147px;

    background-image: url(../img/background-desktop-contact-watercolor.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-main__conditions-section {
  &::after {
    content: "";

    position: absolute;
    top: -250px;
    left: -320px;

    display: block;
    height: 1208px;
    width: 1487px;

    background-image: url(../img/background-desktop-conditions-watercolor.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
  }
}

@media (min-width: $big-desktop-width) {
  .page-main {

    &::after {
      top: 0;

      height: 826px;
    }
  }

  .page-main__about-program-section {
    margin-top: 20px;
  }
}
