.call-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 480px;
  min-height: 521px;
  margin: 0 auto;
  padding: 0 48px;
  padding-top: 56px;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.call-popup__close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 18px;
  height: 18px;

  background-color: inherit;
  opacity: 0.5;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;

    height: 26px;
    width: 2px;

    background-color: $yellow-color;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}

.call-popup__heading {
  @include main-heading;
  font-size: $h3-size;
  margin-bottom: 16px;
}

.call-popup__description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.call-popup__form {
  position: relative;

  text-align: center;
}

.call-popup__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.call-popup__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.call-popup__input {
  width: 360px;
}

.call-popup__input-error {
  max-width: 220px;
  margin: 0 auto;
  margin-top: 5px;

  text-align: center;
  color: red;
  font-size: 11px;
  line-height: 12px;

  transition: 0.5s ease all;
  opacity: 0;
}

.call-popup__button {
  width: 264px;
  margin-bottom: 16px;
}

.call-popup__label {
  position: relative;

  display: block;
  margin: 0 auto;
  padding-left: 24px;
  width: 265px;

  font-size: 13px;
  text-align: left;

  &--consent {
    &::after {
      position: absolute;
      top: 3px;
      left: 0;

      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid $yellow-color;
    }
  }
}

.call-popup__checkbox {
  position: absolute;
  left: 68px;
  bottom: 25px;
}

.call-popup__checkbox:checked ~ .call-popup__label {
  &--consent {
    &::after {
      position: absolute;
      top: 3px;
      left: 0;

      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid $yellow-color;

      background-image: url("../img/check-mark.png");
      background-size: 120%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}


/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .call-popup {
    width: 320px;
    min-height: 768px;
    margin: 0 auto;
    padding: 169px 16px;
  }

  .call-popup__heading {
    max-width: 288px;

    text-align: center;
    font-size: $h3-mini-size;
  }

  .call-popup__description {
    max-width: 287px;

    text-align: center;
  }

  .call-popup__input {
    width: 288px;
  }
}
