.questions-section {
  min-height: 900px;

  background-image: url("../img/background-desktop-questions-watercolor.png");
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;

  &--webp-on {
    background-image: url("../img/background-desktop-questions-watercolor.webp");
  }
}

.questions-section  > .container {
  padding: 0;

  background-image: url("../img/desktop-questions.png");
  background-position: 100% 0;
  background-size: 47%;
  background-repeat: no-repeat;

  &--webp-on {
    background-image: url("../img/desktop-questions.webp");
  }
}

.questions-section__heading {
  @include main-heading;
  letter-spacing: 0.02em;
  padding-left: 110px;
  margin-bottom: 9px;
}

.questions-section__list {
  margin: 0;
  padding: 0;
  padding-left: 110px;
  padding-bottom: 30px;

  counter-reset: myCounter;
}

.questions-section__item {
  position: relative;

  width: 45%;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 32px;

  font-size: $big-font-size;

  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
  list-style: none;

  &::before {
    position: absolute;
    left: 0;
    top: 34px;

    counter-increment: myCounter;
    content: counter(myCounter);

    font-size: 28px;
    font-weight: bold;
    color: $yellow-color;
  }

  &--open > .questions-section__item-button {
    transform: rotate(225deg);
  }

  &--closed > .questions-section__item-button {
    transform: rotate(45deg);
  }

  &--closed > .questions-section__item-description {
    display: none;
  }
}

.questions-section__item-staging {
  width: 70%;
  margin: 0;
  padding-left: 30px;
}

.questions-section__item-button {
  position: absolute;

  top: 40px;
  right: 7.6%;

  display: inline-block;
  padding: 5px;

  background-color: inherit;
  border: solid $blue-color;
  border-width: 0 3px 3px 0;

  cursor: pointer;
  outline: none;
  transform: rotate(45deg);
  transition-duration: 0.5s;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 2px $yellow-color;
  }
}

.questions-section__item-description {
  max-width: 480px;
  margin: 0;
  margin-top: 27px;

  font-size: $regular-font-size;
  opacity: 0.72;
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $desktop-width) {
  .questions-section {
    min-height: 703px;
    padding: 0 16px;

    background: none;
  }

  .questions-section__heading {
    margin: 0;
    padding: 0;

    font-size: $h2-mini-size;
    text-align: center;
  }

  .questions-section__list {
    padding: 0;
  }

  .questions-section__item {
    position: relative;

    width: 100%;
    padding: 0;
    padding-top: 38px;
    padding-bottom: 24px;

    font-size: $big-font-size;

    border-bottom: 1px solid rgba(72, 72, 72, 0.2);
    list-style: none;
  }

  .questions-section__item-staging {
    width: 90%;
    margin: 0;
    padding-left: 22px;

    font-size: 16px;
  }

  .questions-section__item-button {
    position: absolute;

    top: 32px;
    right: 0;

    display: inline-block;
    padding: 5px;

    background-color: inherit;
    border: solid $blue-color;
    border-width: 0 3px 3px 0;

    cursor: pointer;
    outline: none;
    transform: rotate(45deg);
    transition-duration: 0.5s;

    &:hover,
    &:focus {
      box-shadow: 2px 2px 2px $yellow-color;
    }
  }

  .questions-section__item-description {
    margin: 0;
    margin-top: 24px;

    font-size: 14px;
    opacity: 0.72;
  }
}

/* ----------------- анимация для показа/скрытия ответов ----------------- */

@keyframes answer-show {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    transform: translateY(-90%);
    opacity: 0;
  }

  20% {
    transform: translateY(-80%);
    opacity: 0.1;
  }

  30% {
    transform: translateY(-70%);
    opacity: 0.2;
  }

  40% {
    transform: translateY(-60%);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-50%);
    opacity: 0.3;
  }

  60% {
    transform: translateY(-40%);
    opacity: 0.6;
  }

  70% {
    transform: translateY(-30%);
    opacity: 0.7;
  }

  80% {
    transform: translateY(-20%);
    opacity: 0.8;
  }

  90% {
    transform: translateY(-10%);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.answer-show {
  animation: answer-show 0.45s;
}
