
/* ----------------- Разметкdа для основных заголовков ----------------- */

@mixin main-heading {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $h2-size;
  line-height: $small-line-height;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue-color;
}

/* ----------------- Разметкdа для кнопок ----------------- */

@mixin button {
  height: 60px;
  margin: 0;
  padding: 0;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: $big-font-size;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;

  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, $yellow-color, $gradient-yellow-color);

  &:hover,
  &:focus {
    background: $yellow-color;
  }

  &:active {
    background: $gradient-yellow-color;
  }
}
