/*         Основные размеры        */

$mobile-width: 320px;
$desktop-width: 1024px;
$big-desktop-width: 1367px;

/*         Основные цвета        */

$black-color: #484848;
$blue-color: #1fc0fc;
$yellow-color: #ffc341;
$gradient-yellow-color: #ffd701;
$error-color: #ff0000;

/*         Основные шрифты        */

$h2-size: 40px;
$h2-mini-size: 32px;
$h3-size: 28px;
$h3-mini-size: 24px;
$h4-size: 21px;
$h4-mini-size: 18px;

$small-font-size: 13px;
$regular-font-size: 15px;
$big-font-size: 17px;

$small-line-height: 130%;
$regular-line-height: 150%;
$big-line-height: 170%;
